<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] [%C::%M] %m%n</Property>
        <Property name="FILE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] [%C::%M] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="daily-file-log" fileName="log/learn-thrift.log"
                     filePattern="log/learn-thrift-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Logger name="com" level="INFO"/>
        <Logger name="org.apache.logging" level="ERROR"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="daily-file-log"/>
        </Root>
    </Loggers>

</Configuration>